<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onItemAddOrEdit(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input type="text"
          name="name"
          ngModel
          id="name" class="form-control"
          required>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input type="number"
          name="number"
          id="amount"
          pattern="^[1-9]+[0-9]*$"
          ngModel
          class="form-control" required>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success"
          type="submit"
          [disabled]="!f.valid" >
             <!-- Add -->

             {{ editMode ? 'Edit' : 'Add' }}
          </button>
          <button class="btn btn-danger" type="button" *ngIf="editMode" (click)="deleteIngredient()">
            Delete
          </button>
          <button class="btn btn-primary" type="button" (click)="clearForm()">
            Clear
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
